.header {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  padding: 92px 49px 0 51px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
  font-size: 18px;
  font-weight: 400;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  border: none;
}

.header__link-active {
  text-decoration: none;
}

.header__links-list-item a {
  text-underline-position: under;
}

.header__logo {
  padding-right: 11%;
}

.header__logo-image {
  max-width: 148px;
  max-height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 134%;
  max-width: 240px;
}

.header__address a {
  text-underline-position: under;
}

.cover {
  max-width: 1440px;
  min-height: 757px;
  position: relative;
  margin: 92px auto 0;
  background: url(../images/cover.jpg) center/cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
}

.cover__title {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 145px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 155px 50px 0;
  line-height: 115%;
}

.aligned-text {
  display: block;
  margin-top: 20px;
  line-height: 100%;
}

.aligned-text_center {
  display: block;
  margin-top: 20px;
  line-height: 100%;
  text-align: center;
}

.aligned-text_right {
  display: block;
  margin-top: 20px;
  line-height: 100%;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
  padding-bottom: 50px;
  color: #fff;
  gap: 78px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 127.273%;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  font-size: 22px;
  font-family: inherit;
  font-weight: 400;
  color: #fff;
  line-height: 100%;
  padding: 13px 32px;
  border: 1px solid currentColor;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
}

.lots {
  margin: 180px auto 0;
  max-width: 1440px;
  width: 1340px;
  flex-shrink: 0;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-list {
  margin-top: 25px;
  margin-bottom: 30px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  flex-wrap: nowrap;
}

.lots__card-list-item {
  flex-grow: 1;
  min-height: 450px;
  width: 430px;
}

.card-link {
  color: #fff;
  display: block;
  height: 100%;
  text-decoration: none;
}

.card__type_film {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 50px 40px;
  justify-content: space-between;
  background: url(../images/card-lot-01.jpg) no-repeat center/cover;
}

.card__type_book {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding: 50px 40px;
  justify-content: space-between;
  background: url(../images/card-lot-02.jpg) no-repeat center/cover;
}

.card__type_picture {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding: 50px 40px;
  justify-content: space-between;
  background: url(../images/card-lot-03.jpg) no-repeat center/cover ;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 1px;
  text-transform: uppercase;
  position: relative;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  position: relative;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  padding-left: 40px;
  line-height: 135%;
  text-underline-position: under;
}

.about {
  max-width: 1440px;
  margin: 181px auto 0;
  padding: 0 48px;
}

.about__column {
  display: grid;
  grid-template-columns: 455px auto;
}

.about__logo {
  justify-self: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.about__logo-image {
  padding: 63px 46px;
}

.about__title {
  grid-column-start: 2;
  padding: 100px 0;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  grid-column-start: -2 ;
  font-weight: 400;
  font-size: 20px;
}

.about__text p {
  padding-bottom: 25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 160px auto 90px;
  align-items: flex-start;
  padding: 0 50px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 134%;
  max-width: 240px;
}

.footer__menu {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding: 0;
  flex-direction: row;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__link-active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 48px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
  width: 60%
}
